# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 ScriptX
# Copyright 2026 ScriptX

TRACEITX_KEY_WEB=
TRACEITX_KEY_IOS=
TRACEITX_KEY_ANDROID=
TRACEITX_KEY_RN=
TRACEITX_INGEST_URL=
TRACEITX_IDENTITY_SECRET=
TRACEITX_IDENTITY_PROJECT_ID=
NEXT_PUBLIC_DEMO_HLS_URL=
NEXT_PUBLIC_DEMO_HLS_LIVE_URL=
NEXT_PUBLIC_DEMO_DASH_URL=
