# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 ScriptX
# Copyright 2026 ScriptX

EVERFRAME_KEY_WEB=
EVERFRAME_KEY_IOS=
EVERFRAME_KEY_ANDROID=
EVERFRAME_KEY_RN=
EVERFRAME_INGEST_URL=
EVERFRAME_IDENTITY_SECRET=
EVERFRAME_IDENTITY_PROJECT_ID=
NEXT_PUBLIC_DEMO_HLS_URL=
NEXT_PUBLIC_DEMO_HLS_LIVE_URL=
NEXT_PUBLIC_DEMO_DASH_URL=
