# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 ScriptX
# Plan 05-08 — Everframe Compose sample app gitignore.

# Gradle
.gradle/
build/
local.properties
.idea/
*.iml
captures/
.cxx/

# Generated reports
app/build/
